<div class="upcoming-news">
  {% assign upcoming_items = site.data.upcoming_news | sort: 'date' %}
  <div class="table-responsive">
    <table class="table table-sm table-borderless" style="margin-bottom: 0;">
      {% for item in upcoming_items %}
        <tr>
          <th scope="row" style="width: 20%; white-space: nowrap;">
            {{ item.date | date: '%b %d, %Y' }}
            {% if item.label %}
              <div style="margin-top: 0px;">
                <abbr class="badge" style="background-color: var(--global-theme-color); color: #fff; font-size: 0.8em;">
                  {{ item.label }}
                </abbr>
              </div>
            {% endif %}
          </th>
          <td>
            {% if item.title %}
              <div class="news-title" style="font-weight: 600;">{{ item.title }}</div>
            {% endif %}
            {% if item.description %}
              <div style="color: var(--global-text-color, #444);">{{ item.description }}</div>
            {% endif %}
            {% if item.link %}
              <div style="margin-top: 0.25rem;">
                <a href="{{ item.link | relative_url }}">Learn more →</a>
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
